.nav{
    display: flex;
    justify-content:right;
    gap: 12px;
    font-size: 20px;
    color: olive;
    position: relative;
    right: 20px;
    top: 5px;
    
    
}

.button{
    color: rgb(225, 225, 166);
background-color: olive;
 width: 90px;
    height: 40px;
    border-radius: 12px;

}

.logo{
    font-size: 28px;
    font-weight:500;
    color: olive;
}
.dist{
    padding-right: 45px;
}
.imag{
    height: 150px;
    width: 150;
    

}
a{
    color: rgb(96, 135, 5);
    font-size: larger;
}
.button{
    width: 90px;
    height: 40px;
    border-radius: 12px;
}
.button2{
    color: rgb(213, 182, 220);
background-color: rgb(86, 55, 93);
 width: 90px;
    height: 40px;
    border-radius: 12px;
}
* {
  margin: 0;  
    box-sizing:border-box;
}
